{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gazal Album</title>
  </head>
  <body>
    <nav>
      <div class="flex justify-between max-w-[1200px] mx-auto py-8">
        <div>
          <h1 class="text-4xl font-extrabold">Holy Tune</h1>
        </div>
        <div>
          <ul class="flex">
            <li class="text-xl font-bold mx-3">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="text-xl font-bold mx-3">
              <a href="{% url 'add_author' %}">Add Author</a>
            </li>
            <li class="text-xl font-bold mx-3">
              <a href="{% url 'add_album' %}">Add Album</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="text-center font-bold my-12">
      <p>All &copy; Copyright reserved by Holy Tune</p>
    </footer>
  </body>
</html>
